*{
    margin: 0;
    font-family: Arial;
    border: border-box;

}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon logo.webp");
    background-size: cover;
    height: 50px;
    width: 100%;
    background-color: #0f1111;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
.add-first{
    color: #cccccc;
    font-size: 0.5rem;
    margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 15px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/*box3*/
.nav-search{
    display: flex;
    width: 720px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-radius: 4px;
}
.search-input{
    width: 600px;
    font-size: 1rem;
}
.nav-search:hover{
    border: 2px solid orangered;
}
/*box 4 */
span{
    font-size: 0.7rem;
}
.nav-sec{
    font-size: 0.85rem;
    font-weight: 700;
}

/**panel**/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;

}

/**hero section**/
.hero-section{
    background-image: url("first\ image_.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    
    justify-content: center;
    align-items: flex-end;

}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 15px;
}
.hero-msg a{
    color: #007185;
}
/**shop-section*/
.shop-section{
    display: flex;
  /*  justify-content: space-evenly;*/
    background-color: #e2e7e6;
}
.box{
  
    height: 400px;
    width: 23%;
    background-color: white;
   
    margin-top: 15px;
}
.box-img{
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/*.box-content{
    margin-left: 10rem;
    margin-right: 10rem;
}*/
.box-content p{
    color:#007185;
}